*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  --ecm-nav-bar-height: 48px;
  --ecm-tab-bar-height: 40px;
  --ecm-header-height: calc(var(--ecm-nav-bar-height) + var(--ecm-tab-bar-height));
  --ecm-header-z-index: 100;
  --ecm-aside-width: 200px;
  --ecm-aside-z-index: 100;
  --ecm-border-color: rgba(5, 5, 5, 0.06);
  --bg-color-white: rgba(255, 255, 255, 0.6);
  --el-transition-duration: var(--el-transition-duration-fast);
  overflow-y: auto;
}
