* {
    box-sizing: border-box;
}

:root {
    --layout-header-height: 50px;
    --layout-aside-width: 200px;
    --page-padding: 20px;
    --page-toolbar-height: 50px;
    --page-toolbar-padding: 0 20px;
    --page-manager-container-height: 40px;
}

html,
body,
#app {
    overflow: hidden;
    background-color: var(--el-bg-color-page);
    height: 100vh;
    width: 100vw;
}
